* {
   box-sizing: border-box;
}
body {
   background-color: #F5F6F8;
   background-repeat: no-repeat;
   background-size: cover;
   color: #D5E3FF;
   font-family: Verdana, Arial, sans-serif;
}
#wrapper {
   background-color: #F5F6F8;
   color: #006;
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   min-width: 800px;
   max-width: 1400px;
}
#rightcol {
   margin-left: 200px;
   display: table;
}
#shadowbox {
   box-shadow: 0px 5px 25px 5px #888888;
}
header {
   background-color: #F5F6F8;
   text-align: center;
   padding-top: 6px;
   padding-bottom: 6px;
}
h2 {
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 30px;
   font-style: italic;
}
h2:not(#firstpage) {
   text-decoration: underline;
}
main {
   display: block;
   background-color: #FFFFFF;
   text-shadow: 1px 1px 4px #BBB;
   padding: 20px 20px 0px 20px;
   overflow: auto;
   height: 100%;
}
footer {
   background-color: #FFFFFF;
   font-size: 0.7em;
   font-style: italic;
   padding: 10px;
   text-align: center;
   clear: both;
}
header, nav, main, footer {
   display: block;
}



/* START - navigation menu */
nav {
   font-weight: bold;
   float: left;
   width: 150px;
   padding-bottom: 47px;
   margin-top: 7em;
}
nav ul {
   list-style-type: none;
   padding-left: 0;
   background-color: #F5F6F8;
}
nav li {
   align-items: center;
   line-height: 250%;
   vertical-align: middle;
}
nav a {
   display: inline;
   text-decoration: none;
   padding-left: 10px;
   color: #3262A3
}
nav a:hover:not(.active) {
   color: #a742f4;
}
.submenu {
   font-size: 0.7em;
   border: none;
   line-height: 175%;
}
.submenu:hover:not(.selectedsubitem) {
   color: #FF0;
}
.selectedsubitem {
   color: #999;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active {
   color: #000;
}
.dot.active {
   background-color: #000;
}
/* END - navigation menu */




/* START - Miscellaneous */
img {
   border-style: none;
}
#imgdiv {
   text-align: center;
}
.boldtext {
   font-weight: bold;
}
#navicon { display: none; }
.sidenavigation { display: none; }
.mobile, #mobilelinktotop { display: none; }
.desktop { display: inline; }
/* END - Miscellaneous */


@media only screen and (max-width: 1024px) {
   body { margin: 0; padding: 0; background-color: #FFF; background-image: none; }
   header { position: relative; top: 0; width: 100%; background-color: #FFFFFF; }
   header img { width: 85%; max-width: 35em; }
   #wrapper { width: auto; min-width: 0; margin: 0; }
   #rightcol { margin: 0; }
   #shadowbox { position: relative; }
   h2 { text-align: center; padding: 0; }
   nav { width: 0; clear: both; padding: 0; }
   nav a { border: none; color: #FFF; }
   nav img { display: none; }
   main { font-size: 90%; margin: 0; padding-left: 2em; padding-top: 5.5em; }
   footer { margin: 0; }
   #desktopnavigation { display: none; }
   #navicon { display: block; float: left; width: 10%; max-width: 3em; margin-top: 1.5%; margin-left: 2%; cursor: pointer; } 
   #closebutton { position: absolute; top: 0; right: 0.5em; font-size: 2.5em; margin-left: 3em; padding-bottom: 0; }
   #closebutton:hover { background-color: rgba(5, 5, 5, 0); }
   .sidenavigation { display: inline; height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; padding-top: 4em; }
   .sidenavigation a { padding: 0.4em 0.4em 0.4em 1.6em; text-decoration: none; font-size: 1.5em; display: block; transition: 0.3s; }
   .sidenavigation a:hover { color: #888; }
   .sidenavigation a:hover:not(.active) { color: #FF0; }
   .active { color: #888; }
   #rider, #customerservice, #maintenance {
      font-size: 12pt;
   }
}

@media only screen and (max-width: 768px) {
   main { padding: 12% 0.5em 0.5em 0.5em; text-shadow: none; color: #000; }
   main img { width: 80%; height: auto; }
   .mobile, #mobilelinktotop { display: inline; }
   .desktop { display: none; }
   .column { float: none; padding: 0; }
   .mobilecentered { text-align: center; }
}